$blue: #1a2940;
$purpule: #ff3150;
$silver-light: #eff7fa;
$dark-blue: #19283f;
$turquoise: #35d2cd;
$yellow: #ffc501;
$blue-light: #eff7fa;
$blue-light-2: #e4f0f4;
$blue-lg: #8fa4ac;
$rgba-turquoise: rgba(0, 204, 204, .85);
